body{
  background: #777;
  height: 100vh;
  margin:0;
  display: grid;
  place-items:center;
  overflow: hidden;
}

.cards {
  display:flex;
}
.card {
  background: white;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 4px 4px 15px 2px;

  transition: 0.5s;
}

.card:not(:first-child){
  margin-left: -10rem;
}

.card:hover, .card:focus-within {
  transform: translateY(-1rem);
}

.card:hover ~ .card, .card:focus-within ~ .card {
  <!--background: red;-->
  transform: translateX(10rem);
}
